.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin: 16px 0 8px 0;
    font-size: 12px;
    z-index: 3;
    color: #2d3a64;
    position: absolute;
}

.footer a {
    display: flex;
    margin-left: 4px;
    color: #2d3a64;
}
